#outputtrue {
  display: none;
}

#outputfalse {
  display: none;
}

.btn {
  background-color: lightblue;
}

body {
  background-color: red;
  color: white;
}

.container {
  background-color: blue;
}